.main-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-card-bg);
}

.left-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.cat-logo-container {
  margin-right: 1rem;
}
.text-container {
  display: flex;
  flex-direction: column;
}
.text-container .title {
  color: var(--color-black);
}
.text-container .date {
  color: var(--color-card-bg);
}

.right-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.amount {
  color: var(--color-button-bg);
  margin-right: 1rem;
}

.action-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
